
body {
    font-family:sans-serif;
    font-weight: normal;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 50% 50%; /* Divide a tela em duas colunas */
    height: 100vh;
}

#left-section {
    display: block;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #ddd; /* Fundo cinza claro */
}

#left-section img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
#right-section {
    margin-right: auto;
    width: 765px;
    height: 532;
    display:block;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255); /* Fundo branco */
}

form {
    padding: 120px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

#header-text {
    text-align: center;
    color: #777; /* Cor cinza claro */
    font-size: 30px;
    font-weight:550;
    margin-bottom: 25px;
}



#header-text span {
    margin-top: 10%;
    font-weight: 550;
    color: #ff0000; /* Cor vermelha */
}

#access-info {
    color: lightgray; /* Cor cinza claro */
    margin-bottom: 30px;
    text-align: center;
}
div nameicons{
    margin-top: 20px;
    position: relative;
}

.input-container{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    color: rgb(111, 111, 111);
    
}

.absolute{
    position: absolute;
    right: 5%;
    cursor: pointer;
    color: rgb(111, 111, 111);
}

/* #icons3{
    cursor: pointer;
    position: absolute;
    right: 9%;

} */
input {
    text-align: left;
    width: 100%; /* Ajuste para acomodar o ícone */
    padding: 10px 40px 10px 20px;
    box-sizing: border-box;
    border-radius: 80px;
    border: 1px solid #ccc;
    position: relative;
}

button {
    margin: auto;
    margin-top: 50px;
    display: flex;
    align-items: center;
    height: 52px;
    background-color: #ff0000; /* Cor vermelha */
    color: #ffffff;
    padding: 4px 80px;
    border: none;
    border-radius: 70px; /* Alterado para aspecto oval */
    cursor: pointer;
}

#footer-text {
    text-align: center;
    color: #777;
    margin-top: 16px;
}

#register-link {
    cursor: pointer;
    color: #ff0000;
    font-weight: bold;
}

.additional-links {
    
    color: #aaa;
    text-align: center;
    margin-top: 240px;
}

.additional-links a {
    margin: 0 8px;
    text-decoration: none;
}

.divCheck{
    margin-top: 10px;
    text-align: right;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
